<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel ="stylesheet" type = "text/css" href="/style.css">
</head>
<body>
    <ul>
      <li><a href="/pizza_orders/new">Create New Order</a></li>
      <li><a href="/pizza_orders">Pizza Orders</a></li>
    </ul>
  <div class="maintext">
  <%= yield %>
  </div>
</body>
</html>
